body {
    background-color: lightblue;
}

header {
    background: lightseagreen;
    padding: 10px 0;
}


.cabeçalho{
    width: 800px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px
}
nav a {
    text-transform: uppercase; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #097905;
    text-decoration: underline;
}


footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 10px 0;
}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 10px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

h2 {
    font-size: 25px;
    padding: 20px 0;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
  
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: rgb(0, 80, 172);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: rgb(76, 0, 255);
    transform: scale(1.2); 
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 9px 15px;
    
}

td {
background-color: rgb(213, 248, 248);
}



